body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}

#initial-form,
#admin-page,
#individual-page {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: calc(100% - 10px);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #0b7319;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #159826;
}

a {
  display: block;
  margin: 5px 0;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#pairing-links {
  margin-top: 10px;
}

#individual-page p {
  font-size: 1.2em;
  text-align: center;
}